
html {
  font-size: 62.5%;
}

@media screen and (max-width: 800px) {
  html {
    font-size: 50%;
  }
}

@media screen and (max-width: 420px) {
  html {
    font-size: 30%;
    overflow-y: hidden;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100%;
  position: relative;
  object-fit: cover;
  background-size: cover;
}

video {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  background-size: cover;
}

.set-time {
  width: 33.33%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

@media screen and (max-width: 420px) {
  .set-time {
    flex-direction: row;
    width: 100%;
    align-items: flex-start;
    margin-top: 10rem;
    height: 10%;
    display: none;
  }
}

.set-time button:first-child {
  margin-top: 10rem;
}


@media screen and (max-width: 420px) {
  .set-time button:first-child {
    margin-top: 0;
  }
}

.set-time button:last-child {
  margin-bottom: 10rem;
}

@media screen and (max-width: 420px) {
  .set-time button:last-child {
    margin-bottom: 0;
  }
}

.loader {
  width: 33.33%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.icon-timer {
  font-size: 8rem;
  color: white;
}

.loader__circle {
  position: relative;
}

.timer {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 5rem;
  color: white;
}

@media screen and (max-width: 420px) {
  .timer {
    bottom: 40%;
    display: none;
  }
}

.set-weather {
  width: 33.33%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media screen and (max-width: 420px) {
  .set-weather {
    flex-direction: row;
    width: 100%;
    align-items: flex-end;
    height: 10%;
    top: 85%;
  }
}

.set-weather a:first-child {
  background-color: #fdce2ecc;
}

.set-weather a:nth-child(2) {
  background-color: #67aadccc;
}

.set-weather a:last-child {
  background-color: #49627ccc;
}

.active {
  border: 2px solid white;
}

.set-weather a {
  display: inline-block;
  border-radius: 50%;
  margin: 2rem 0;
}

@media screen and (max-width: 420px) {
  .set-weather a {
    margin: 0 2rem 8rem 2rem;

  }
}

.icon-weather {
  font-size: 8rem;
  color: white;
  padding: 3rem;
}

.btn {
  padding: 1.5rem 4rem;
  border: 2px solid white;
  font-size: 3rem;
  color: white;
  background-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  transition: all .5s;
}

@media screen and (max-width: 420px) {
  .btn {
    padding: 1rem 2.5rem;
  }
}

.btn:focus {
  outline: none;
}

.btn:hover {
  background-color: white;
  color: #333;
  opacity: .6;
}

.hidden {
  display: none;
}

.progress-ring {
  position: relative;
}

.progress-ring__control {
  position: absolute;
  z-index: 2000;
}

@media screen and (max-width: 420px) {
  .progress-ring__control {
    display: none;
  }
}

.progress-ring__circle {
  transition: stroke-dashoffset 0.35s;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

@media screen and (max-width: 420px) {
  svg {
    width: 100px;
    height: 100px;
  }
}







